@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

:root {
    --light_blue_1: #38aecc;
    --dark_blue: #0090c1;
    --grey: #183446;
    --white: #fff;
    --nav_size: 40vw;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#sidenav {
    height: 100%;
    width: var(--nav_size);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--light_blue_1);
    color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    display: grid;
    align-items: center
  }
  
#sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
  }
  

#sidenav form{
    display: grid;
    margin: 0 2rem 0 2rem;

}


form input[type=text], select {
    height: 2rem;
    border: 2px solid var(--light_blue_1);
    margin: 2rem 0;
    padding: 0 10px;
    border-radius: 0.5rem;
    outline: none;
  }

  form input[type=password], select {
    height: 2rem;
    border: 2px solid var(--light_blue_1);
    margin: 2rem 0;
    padding: 0 10px;
    border-radius: 0.5rem;
    outline: none;
  }

form button{
    width: 8rem;
    padding: 0.5rem 0;
    font-size: 1.25rem;
 
    margin: 0 auto;
    background: #fff;
    border: none;
    border-radius: 0.5rem;
    color: var(--light_blue_1);
    cursor: pointer;
}

form label{
    margin-bottom: -2.5rem;
    margin-left: 0.5rem;
}

.main {
    margin-left: var(--nav_size); 
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    max-width: 70vw;
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    max-height: 100vh;
    text-align: center;
    padding:0;
    margin-top: -2rem;
  }
  .main img{
      width: 75%;
      margin: 0 auto;
  }
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.form-toggle{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 2rem;
}

.form-toggle h1{
    cursor: pointer;;
}